{% extends "blog/base.html" %}
{% block title %}Main Blog{% endblock %}
{% block content %}

<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry">

            {% if dailyLogs != null %}
                {% for dailyLog in dailyLogs %}
                    <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                        <figure>
                            <a href="{{ dailyLog.pk }}"><img src={{ dailyLog.main_image.url }} alt="Image" class="img-responsive"></a>
                        </figure>
                        <span class="fh5co-meta"><a href="single.html">{{ dailyLog.category }}</a></span>
                        <h2 class="fh5co-article-title"><a href="single.html">{{  dailyLog.title }}</a></h2>
                        <span class="fh5co-meta fh5co-date">{{ dailyLog.update_time }}</span>
			        </article>

                {% endfor %}
            {% endif %}


			<div class="clearfix visible-xs-block"></div>
		</div>
	</div>
{% endblock %}
